.lead {
    max-width: calc(100% - (2 * 148px));
    margin: 56px auto 92px auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: calc(100% - (2 * 48px));
        margin: 48px auto 92px auto;
    }  
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 100%;
        margin: 48px auto 88px auto;
    }  
}

@media screen and (max-width: 767px){
    .lead {
        max-width: calc(100% - (2 * 1px));
        margin: 48px auto 64px auto;
    } 
}