.cover__background {
    display: inline-flex;
    text-decoration: none;
    color: #ffffff;
    background-image: url(./../../../images/__background.jpg);
    width: 1184px;
    min-height: 740px;
    flex-direction: column;
    margin: auto;
    position: relative;
    z-index: 1;
}

.cover__background::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 1s ease-in-out;
}

.cover__background:hover::after {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        width: 768px;
        min-height: 480px;
    }  
}

@media screen and (max-width: 767px){
    .cover__background {
        width: 320px;
        min-height: 200px;
    }   
}
