.place__url-heading {
    margin: 0 0 12px 0;
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media screen and (max-width: 767px){
    .place__url-heading {
        margin-left: 16px;
    }  
}